.slider {
    position: relative;
    width : 350px;
    height: 100%;
    padding-right: 20px;
    transition: all .2s ease-in-out;

    .title {
        font-weight: 700;
        line-height: 38px;
        font-family: PingFangSC-Medium, PingFang SC;
        width      : 100%;
        padding:0;
    }

    .listWrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    //cover antd style
    .ant-tabs-left {
        height: 100%;
    }

    .ant-tabs-tab .anticon {
        margin-right: 0;
        font-size   : 20px !important;
    }

    .ant-tabs-extra-content{
        position: absolute;
        bottom:0;
    }

    // cover antd style
    .ant-btn {
        position        : relative;
        background-color: transparent !important;
        border          : none !important;
        cursor          : pointer;
    }
}